* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    position: fixed;
    top: 0;
    min-height:75px;
    padding: 0px 20px;
    display: flex;
    width:100%;justify-content:space-around;
    align-items: center;
    background-color: #eee;
}
body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav {
    font-weight: 400;
}
li{
  list-style:none;
  margin:20px;
  
}
.logo {
    width: 60vw;
}
.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
a {
    color: #000;
    text-decoration: none;
}
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}
form {
    display: block;
}
#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#features {
    margin-top: 30px;
}
.grid {
    display: flex;
}
#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}
#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    }
    footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}
footer > ul {
    display: flex;
    justify-content: flex-end;
}
footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
@media(max-width:1199px) and (min-width:769px){
    #navbar{
        width:275px;
    }
    #main-doc {
        width:633;
    }
    
}